@import "../../vars"

.contacts-info
  width: 100%

  margin-top: 6px

  &-sellers

    h4
      font-weight: 500
      line-height: normal
      font-size: 22px

      position: relative
      margin-bottom: 13px

      &:before
        content: ""
        width: calc(100% + 35px * 2)
        height: 1px

        background: $color-grey

        position: absolute
        top: 14px
        left: -35px

      span
        position: relative
        left: 12px

        z-index: 1

        background: $color-white

        padding: 0 30px

    .sellers
      display: flex
      justify-content: space-between

      tbody
        tr
          display: flex
          justify-content: space-between

          max-height: 37px

          border-bottom: 1px solid #EAF0F4

          th
            font-weight: normal
            line-height: 37px
            font-size: 16px
            color: #202A3B

          td
            padding-left: 15px
            a
              font-weight: normal
              line-height: 37px
              font-size: 16px
              color: #64738B

              &:hover
                color: $color-blue


