include ../../mixins/svg_sprite


div#callback-me-modal(uk-modal)
    div.uk-modal-dialog.uk-modal-body.callback-me-modal
        .callback-me-modal__container_block
            form(action="#")
                h1 Перезвоните мне

                label
                    input(type="text" name="name" placeholder="Имя").callback-me-modal__input
                label
                    input(type="tel" name="phone" placeholder="+7 (___) ___-__-__").callback-me-modal__input

                .button-container
                    button(type="submit").button.button-blue
                        span Отправить

            //uk-modal-close
