include ../../mixins/svg_sprite

div#dropdown-menu(uk-modal)
    div.uk-modal-dialog.uk-modal-body.dropdown-menu
        .nav-bar-items-dropdown-container_block
            .nav-bar-item-dropdown-container__block
                h4 Дизельные электростанции и дизельные приводы

                .nav-bar-item-dropdown-container__block-items
                    p Мощность #[a(href="#") 10-25 кВт], #[a(href="#") 25-60 кВт], #[a(href="#") 60-100 кВт], #[a(href="#") 100-1000 кВт]
                    p Двигатель #[a(href="#") ЯМЗ], #[a(href="#") ЕД480], #[a(href="#") ЕД490], #[a(href="#") Deutz], #[a(href="#") Steyr], #[a(href="#") Doosan], #[a(href="#") Ricardo], #[a(href="#") Shanghai Diesel], #[a(href="#") Moteurs Baudouin]

            .nav-bar-item-dropdown-container__block
                h4 Шкафы управл. генераторамии и электростанциями

                .nav-bar-item-dropdown-container__block-items
                    p #[a(href="#") 1-я степень автоматизации]
                    p #[a(href="#") 2-я степень автоматизации]
                    p #[a(href="#") Специальные шкафы управления]
                    p #[a(href="#") Блок заряда АКБ]

            .nav-bar-item-dropdown-container__block
                h4 Запасные части и комплектующие

                .nav-bar-item-dropdown-container__block-items
                    p Двигатели #[a(href="#") ЯМЗ], #[a(href="#") ЕД480], #[a(href="#") ЕД490], #[a(href="#") Deutz], #[a(href="#") Steyr], #[a(href="#") Doosan], #[a(href="#") Ricardo], #[a(href="#") Shanghai Diesel], #[a(href="#") Moteurs Baudouin]
                    p #[a(href="#") Генераторы]
                    p #[a(href="#") Кожухи, рамы]
                    p #[a(href="#") Электрические комплектующие]
                    p
                        a(href="#")
                            | Прочее
                            //+add_svg({class: "icon__more-arrow", icon: "more-arrow"})

            .nav-bar-item-dropdown-container__block
                h4 Контейнеры типа «СЕВЕР»

                .nav-bar-item-dropdown-container__block-items
                    p #[a(href="#") ДГУ контейнерного исполнения 10-100 кВт]
                    p #[a(href="#") ДГУ контейнерного исполнения до 500 кВт]

            .nav-bar-item-dropdown-container__block
                h4 Ящики ввода резерва

                .nav-bar-item-dropdown-container__block-items
                    p #[a(href="#") 250 Ампер (до 140 кВт)]
                    p #[a(href="#") 500-630 Ампер (до 350 кВт)]

            .nav-bar-item-dropdown-container__block
                h4 Расходные материалы

                .nav-bar-item-dropdown-container__block-items
                    p #[a(href="#") Фильтры]
                    p #[a(href="#") Ремни]
                    p #[a(href="#") Смазочные материалы]
                    p #[a(href="#") Запасные части для ДВС]
                    p #[a(href="#") Прочее]

            .button-container-dropdown-menu
                a(href="#").button.button-blue Индивидуальный проект

