include ../../mixins/svg_sprite

section.nav-bar
    .container.nav-bar__container
        .logo
            a(href="#")
                +add_svg({class: "nav-bar__logo", icon: "logo"})

        .logo-small.d-none
            a(href="#")
                +add_svg({class: "nav-bar__logo-small", icon: "logo-small"})

        include ./adaptive-menu
        include ./open-button-mobile-menu

