.product-content
    .product-content-tabs
        ul
            li.active
                span Описание
            li
                span Характеристики
            li
                span Фото и видео
            li
                span Управление и запуск
            li
                span Варианты исполнения

    .product-content-container
        .product-content-description
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.


