.product-content
    .product-content-tabs
        ul
            li
                a(href="#" role="dropdown")
                    span Описание
            li
                a(href="#" role="dropdown")
                    span Характеристики
            li
                a(href="#" role="dropdown")
                    span Фото и видео
            li
                a(href="#" role="dropdown")
                    span Управление и запуск
            li
                a(href="#" role="dropdown")
                    span Варианты исполнения

