.product-content
    .product-content-tabs
        ul
            li.active
                span Описание
            li
                span Характеристики
            li
                span Фото и видео
            li
                span Управление и запуск
            li
                span Варианты исполнения

    .product-content-container
        .product-content-description
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

        .product-content-features
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.


        .product-content-photo-video
            p типа фотка

        - var productControlItems = 3;
        .product-content-control
            .product-control-items
                each _ in new Array(productControlItems)
                    .product-control-item
                        .container-image
                            img(src="img/photo-right.jpg")
                        .container-description
                            .header Всепогодный капот
                            table.specs-control
                                tbody
                                    tr
                                        td Шкаф управления дизельной генераторной установкой 1-ой (2-ой) степени автоматизации мощностью до 30 кВт
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen






        .product-content-execution-options
            p гаф


