.product-content
    .product-content-tabs
        ul
            li.active
                span Описание
            li
                span Характеристики
            li
                span Фото и видео
            li
                span Управление и запуск
            li
                span Варианты исполнения

    .product-content-container
        .product-content-description
            p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре решил производить небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.
            p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

        .product-content-features
            .specs-container
                .specs-container__header Основные характеристики
                table.specs-container__table
                    tbody
                        tr
                            td Мощность номинальная, кВт
                            th 100
                        tr
                            td Автономная работа на 75% нагрузки без дозаправки, ч
                            th 17
                        tr
                            td Мощность номинальная, кВт
                            th 200
                        tr
                            td Мощность номинальная, кВт
                            th 200
                        tr
                            td Мощность номинальная, кВт
                            th 200
                        tr
                            td Мощность номинальная, кВт
                            th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                        tr
                            td Мощность номинальная, кВт
                            th 200
                        tr
                            td Мощность номинальная, кВт
                            th 200
                        tr
                            td Мощность номинальная, кВт
                            th 200


            .container-accordion
                .card
                    .card-header
                        button(type="button")
                            +add_svg({class: "card-header__button-icon", icon: "nav-arrow"})
                            span Контроллер
                    .card-table
                        table
                            tbody
                                tr
                                    td Мощность номинальная, кВт
                                    th 100
                                tr
                                    td Автономная работа на 75% нагрузки без дозаправки, ч
                                    th 17
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200

                .card
                    .card-header
                        button(type="button")
                            +add_svg({class: "card-header__button-icon", icon: "nav-arrow"})
                            span Генератор
                    .card-table
                        table
                            tbody
                                tr
                                    td Мощность номинальная, кВт
                                    th 100
                                tr
                                    td Автономная работа на 75% нагрузки без дозаправки, ч
                                    th 17
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200

                .card
                    .card-header
                        button(type="button")
                            +add_svg({class: "card-header__button-icon icon-active", icon: "nav-arrow"})
                            span Двигатель
                    .card-table
                        table
                            tbody
                                tr
                                    td Мощность номинальная, кВт
                                    th 100
                                tr
                                    td Автономная работа на 75% нагрузки без дозаправки, ч
                                    th 17
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200
                                tr
                                    td Мощность номинальная, кВт
                                    th 200




        .product-content-photo-video
            p типа фотка

        - var productControlItems = 3;
        .product-content-control
            .product-control-items
                each _ in new Array(productControlItems)
                    .product-control-item
                        .container-image
                            img(src="img/photo-right.jpg")
                        .container-description
                            .header Всепогодный капот
                            table.specs-control
                                tbody
                                    tr
                                        td Шкаф управления дизельной генераторной установкой 1-ой (2-ой) степени автоматизации мощностью до 30 кВт
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen





        - var productExecutionOptionsItems = 3;
        .product-content-execution-options
            .product-execution-options-items
                each _ in new Array(productExecutionOptionsItems)
                    .product-execution-options-item
                        .container-image
                            img(src="img/photo-right.jpg")
                        .container-description
                            .header Всепогодный капот
                            table.specs-execution-options
                                tbody
                                    tr
                                        td Шкаф управления дизельной генераторной установкой 1-ой (2-ой) степени автоматизации мощностью до 30 кВт
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen
                                    tr
                                        td Контроллер системы управления - Smartgen


