.product-content-features
    .container-features
        .specs-container
            .specs-container__header Основные характеристики
            table.specs-container__table
                tbody
                    tr
                        td Мощность номинальная, кВт
                        th 100
                    tr
                        td Автономная работа на 75% нагрузки без дозаправки, ч
                        th 17
                    tr
                        td Мощность номинальная, кВт
                        th 200
                    tr
                        td Мощность номинальная, кВт
                        th 200
                    tr
                        td Мощность номинальная, кВт
                        th 200
                    tr
                        td Мощность номинальная, кВт
                        th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                    tr
                        td Мощность номинальная, кВт
                        th 200
                    tr
                        td Мощность номинальная, кВт
                        th 200
                    tr
                        td Мощность номинальная, кВт
                        th 200


        .container-accordion
            .card
                .card-header
                    button(type="button")
                        +add_svg({class: "card-header__button-icon", icon: "nav-arrow"})
                        span Контроллер
                .card-table
                    table
                        tbody
                            tr
                                td Мощность номинальная, кВт
                                th 100
                            tr
                                td Автономная работа на 75% нагрузки без дозаправки, ч
                                th 17
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200

            .card
                .card-header
                    button(type="button")
                        +add_svg({class: "card-header__button-icon", icon: "nav-arrow"})
                        span Генератор
                .card-table
                    table
                        tbody
                            tr
                                td Мощность номинальная, кВт
                                th 100
                            tr
                                td Автономная работа на 75% нагрузки без дозаправки, ч
                                th 17
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200

            .card
                .card-header
                    button(type="button")
                        +add_svg({class: "card-header__button-icon icon-active", icon: "nav-arrow"})
                        span Двигатель
                .card-table
                    table
                        tbody
                            tr
                                td Мощность номинальная, кВт
                                th 100
                            tr
                                td Автономная работа на 75% нагрузки без дозаправки, ч
                                th 17
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th глушитель, топливный бак, АКБ, ЩУ с цифровой панелью, станция запр. маслом и ОЖ
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
                            tr
                                td Мощность номинальная, кВт
                                th 200
