.contacts-callback-form-container.contacts-callback-form-container-success
    .callback-modal-content
        .callback-modal-status.success
            .ellipse
                span
        h2 Сообщение отправлено
        p Скоро мы с вами свяжемся

        .container-button
            button(type="submit").button.button-blue
                span.button-helper-gradient-blue
                span Отправить еще одно сообщение
            //.button-shadow.button-shadow--blue
