.contacts-callback-form-container
    form(action="#")
        h4 Есть вопросы? Задайте их здесь

        .input-group
            input(type="text" name="name" placeholder="Имя").input
            input(type="tel" name="phone" placeholder="+7 (___) ___-__-__").input

        textarea(name="message" placeholder="Ваш вопрос").input

        .button-row
            .container-button
                button(type="submit").button.button-blue
                    span.button-helper-gradient-blue
                    span Отправить
                .button-shadow.button-shadow--blue

            span Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных


