.contacts-maps-container
    h4
        span Схемы проездов

    .contacts-maps
        .ya-map-container
            h5 К офису:
            .ya-map(
            data-map-center-lng=52.723960
            data-map-center-lat=41.450218
            data-map-zoom=16

            data-map-to-point-lng=52.723960
            data-map-to-point-lat=41.450218
            )

        .ya-map-container
            h5 На производство:

            .ya-map(
            data-map-center-lng=52.723960
            data-map-center-lat=41.450218
            data-map-zoom=16

            data-map-to-point-lng=52.723960
            data-map-to-point-lat=41.450218
            )

        //.ya-map-container
        //    h5 К офису:
        //    iframe(src="https://yandex.ru/map-widget/v1/-/C8eUI3q" width="587" height="395" frameborder="1" allowfullscreen="true")
        //.ya-map-container
        //    h5 На производство:
        //    iframe(src="https://yandex.ru/map-widget/v1/-/C8eUI3q" width="587" height="395" frameborder="1" allowfullscreen="true")
