nav.nav-dealers
    ul
        li.active
            a(href="#") Отделы продаж
        li
            a(href="#") Ремонт и техническое обслуживание
        li
            a(href="#") Запчасти
        li
            a(href="#") Где купить
