@import "../../vars";

$opacity-base: 1;  // default 0
$opacity-on-hover: 1;  // default 0.6
$opacity-on-click: 1;  // default 0.9

$container-height-base: 18px;  // default 15px
$container-width-base: 18px;  // default 15px

$thumb-x-height-base: 18px;  // default 6px
$thumb-x-height-hover: 18px;  // default 11px

$thumb-y-width-base: 18px;  // default 6px
$thumb-y-width-hover: 18px;  // default 11px

$thumb-bottom-on-hover: 0;  // default 2px
$thumb-right-on-hover: 0;  // default 2px

// Border radius
$background-border-radius: 3px;  // default unset
$thumb-x-border-radius: 3px;  // default 6px
$thumb-y-border-radius: 3px;  // default 6px

// Colors
$background-color-rail-default: $color-grey;  // default transparent
$background-color-rail-on-hover: $color-grey;  // default #eee

$thumb-x-color-default: $color-blue;  // default #aaa
$thumb-y-color-default: $thumb-x-color-default;  // default #aaa

$thumb-x-color-on-hover: $color-blue;  // default #999
$thumb-y-color-on-hover: $thumb-x-color-on-hover;  // default #999


/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  //noinspection CssUnknownProperty
  overflow-anchor: none;

  touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: $opacity-base;
  transition: background-color $transition-duration linear, opacity $transition-duration linear;
  height: $container-height-base;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: $opacity-base;
  transition: background-color $transition-duration linear, opacity $transition-duration linear;
  width: $container-width-base;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: $background-color-rail-default;
  border-radius: $background-border-radius;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: $opacity-on-hover;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: $background-color-rail-on-hover;
  opacity: $opacity-on-click;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  cursor: grab;

  background-color: $thumb-x-color-default;
  border-radius: $thumb-x-border-radius;
  transition: background-color $transition-duration linear, height $transition-duration ease-in-out;

  height: $thumb-x-height-base;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: $thumb-bottom-on-hover;
  /* please don't change 'position' */
  position: absolute;

  //noinspection CssUnknownTarget
  &:before {
    content: "";
    display: block;

    position: absolute;
    left: calc(50% - 14px/2);
    top: calc(50% - 10px/2);

    width: 14px;
    height: 10px;

    background: url("../img/scroll-dots.svg");
  }
}

.ps__thumb-y {
  cursor: grab;

  background-color: $thumb-y-color-default;
  border-radius: $thumb-y-border-radius;
  transition: background-color $transition-duration linear, width $transition-duration ease-in-out;

  width: $thumb-y-width-base;
  /* there must be 'right' for ps__thumb-y */
  right: $thumb-right-on-hover;
  /* please don't change 'position' */
  position: absolute;

  //noinspection CssUnknownTarget
  &:before {
    content: "";
    display: block;

    position: absolute;
    left: calc(50% - 14px/2);
    top: calc(50% - 10px/2);

    width: 14px;
    height: 10px;

    background: url("../img/scroll-dots.svg");

    transform: rotate(90deg);
  }
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: $thumb-x-color-on-hover;
  height: $thumb-x-height-hover;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: $thumb-y-color-on-hover;
  width: $thumb-y-width-hover;
}

/* MS supports */
//@supports (-ms-overflow-style: none) {
//    .ps {
//        overflow: auto !important;
//    }
//}

//@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//    .ps {
//        overflow: auto !important;
//    }
//}
