@import "../../vars"
@import "../../mixins"

.open-button-mobile-menu
  cursor: pointer
  height: 50px
  position: absolute
  top: 0
  right: 15px

  span
    content: ""
    display: none
    width: 28px
    height: 5px
    top: 20px
    background: $color-black
    position: relative

    &:before
      content: ""
      width: 28px
      height: 5px
      background: $color-black
      position: absolute
      top: -10px
      left: 0
      transition: .3s

    &:after
      content: ""
      width: 28px
      height: 5px
      background: $color-black
      position: absolute
      top: 10px
      left: 0
      transition: .3s


.mobile-menu-opened
  span
    background: inherit

    &:before
      transform: rotate(48deg)
      top: 2px
      left: 0

    &:after
      transform: rotate(134deg)
      top: 2px
      left: 0



@media screen and (max-width: 1288px)
  .open-button-mobile-menu span
      display: block
