doctype html
html(lang="RU")
    head
        block title
            title Starter Template

        block head_meta
            include ./head_meta

        block head_custom_css
            link(rel="stylesheet", href="./css/main.min.css")


    body
        .mobile-menu
            a(href="#").close-button-mobile-menu
                span
            include components/header/adaptive-menu
        section.header
            include components/header/header-utils
            include components/header/nav-bar
            include components/header/dropdown-menu

        section.content
            block content

        //footer
        include components/footer/footer
        include components/footer/credits


        include ./scripts
        block custom_scripts

        include ./ie_fix
