@import "../../../../vars"

.home-page-gallery-item__description
  position: relative
  left: 178px
  top: 110px

  h1
    line-height: 40px
    font-size: 32px
    font-weight: bold
    font-family: Ubuntu, sans-serif

    color: $color-white

    margin-bottom: 13px

    max-width: 387px

  p
    font-weight: normal
    line-height: 25px
    font-size: 17px
    font-family: Ubuntu, sans-serif

    color: $color-white

    max-width: 326px

    margin-bottom: 30px

.gallery-item-features-list

  &-item
    display: flex

    margin: 10px 0

    &-icon-container
      margin-right: 13px

    &__icon
      width: 37px
      height: 37px

      fill: $color-white

    &__description
      max-width: 322px

      font-weight: 500
      line-height: 20px
      font-size: 14px

      color: $color-white


  &-item:nth-child(1)
    .gallery-item-features-list-item__description
      max-width: 270px








