@import "../../vars"
@import "../../mixins"

.footer__container
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.nav-links
  h4
    font-size: 19px
    line-height: (24 / 19)
    color: $color-white
    margin-bottom: 16px

  ul
    margin: 0
    padding: 0

    li
      padding: 0
      margin: 1px 0 0
      list-style: none

      a
        color: #C3C3C3
        font-size: 14px
        line-height: (32 / 14)
        transition: $transition-duration

        &:hover
          color: $color-white

.product-catalog
  margin-left: 19px

.services
  margin-right: 29px


@media screen and (max-width: 1080px)
  .about-company, .product-catalog,
  .services
    flex: 1 1 50%
    margin: 15px 0


@media screen and (max-width: 470px)
  .about-company, .product-catalog,
  .services, .contacts-container
    flex: 1 1 100%

