@import "../../vars"

.table-compare
  thead
    tr

      .image-table
        top: -6px
        padding-right: 38px

      .download-table
        vertical-align: top
        padding-top: 6px
        position: relative
        left: -2px
        padding-right: 0
        padding-left: 35px

        .table-cell-content
          margin-right: 120px

          span
            font-weight: 500
            line-height: normal
            font-size: 15px
            letter-spacing: 0.03em
            text-transform: uppercase
            color: $color-grey-light
            display: block
            margin-bottom: 4px

          a
            transition: .8s

          .button
            padding: 16px 27px 20px 39px
            //transition: 5s

            span
              color: #FFFFFF
              text-transform: none
              letter-spacing: 0
              display: unset

            &-container
              width: 221px
              position: relative
              top: 4px

              margin-bottom: 84px

            &-download-table__icon
              width: 16px
              height: 16px

              margin-right: 6px

              fill: #FFFFFF

              z-index: 2

            &-shadow
              width: 200px
              height: 15px
