@import "../../../../vars"

.product-content-features

  .container-description-features
    max-width: 588px

    border: 1px solid #F7F7F7
    border-radius: 3px

    .header
      font-weight: 500
      line-height: normal
      font-size: 16px

      color: $color-black
      background: #EAF0F4

      padding: 12px 15px 13px

    .specs-features
      tr:nth-child(even)
        background: #F7F7F7

      th, td
        max-width: calc(588px / 2)

        font-weight: normal
        line-height: normal
        font-size: 14px

        padding: 12px 15px 11px

      td
        color: #64738B

        border-right: 1px solid #EAF0F4

      th
        color: $color-black
