@import "../../../vars"

.slider-navigation-container
  position: absolute
  bottom: 0
  left: 0

  width: 100%
  height: 100%

.home-page-gallery-close-button
  padding: 5px 15px

  background: $color-white
  height: fit-content
  border-radius: 3px

  cursor: pointer

  position: absolute
  right: 15px
  top: 15px

  z-index: 5

  &:hover
    background: $color-blue
    color: $color-white

.home-page-gallery-container-open-button
  display: flex
  justify-content: flex-end

  padding-right: 5px

  .button-open
    padding: 5px 15px

    background: $color-white
    border-radius: 3px

    cursor: pointer

    display: none

    //position: absolute
    //right: 15px
    //top: 15px

    //z-index: 5

    &:hover
      background: $color-blue
      color: $color-white




.home-page-gallery-navigation
  display: flex

  height: fit-content

  position: absolute
  bottom: 28px
  left: 391px


  &-wrapper
    position: relative
    z-index: 3

    //height: 609px
    height: 100%

    display: flex

  .gallery-nav-button
    width: 40px
    height: 40px

    margin: 0 20px
    //margin: 0 10px

    background: inherit
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.03)

    border: 2px solid $color-white
    border-radius: 3px

    position: relative

    cursor: pointer

    transition: $transition-duration

    &:hover
      border-color: #f88012
      background: #f88012

    &__icon
      width: 14px
      height: 14px

      fill: none
      stroke: $color-white
      stroke-width: 3px

      position: absolute
      top: calc(50% - 14px / 2)
      left: calc(50% - 14px / 2)

    &--prev
      .gallery-nav-button__icon
        transform: rotate(-90deg)

    &--next
      .gallery-nav-button__icon
        transform: rotate(90deg)

  .gallery-nav-items
    display: flex

    margin: 0
    padding: 0


    li
      padding: 0 11px
      margin: 0

      font-weight: bold
      line-height: normal
      font-size: 12px
      letter-spacing: 0.05em
      text-transform: uppercase

      list-style: none
      white-space: nowrap

      cursor: pointer

      color: $color-white

      position: relative

      &:before
        content: ""

        width: 100%
        height: 4px

        background: #C4C4C4
        opacity: 0.7

        position: absolute
        top: 21px
        left: 0

        transition: $transition-duration

    li:first-child:before
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px

    li:last-child:before
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px

    .active
      &:before
        background: $color-white

        border-radius: 3px

        opacity: 1
