// Чтобы браузер отрисовывал всё как и в макете нужно указывать размеры для таблицы
    и ее колонок

table(style="width: 713px")
    thead
        tr
            th(style="width: 23.8429172510519%") Двигатель
            th(style="width: 25.2454417952314%") Вариант исполнения
            th(style="width: 25.9467040673212%") Краткое описание
            th(style="width: 9.39691444600281%") Код
            th(style="width: 15.5680224403927%") Цена

    tbody
        tr
            td После гражданской войны
            td Доктор Джон Ругон
            td Система смазки была общая для двигателя и коробки передач
            td H27
            td 23 000 руб
        tr
            td
                | Англы и саксы <br/>
                | Вводный курс
            td Марк Котл
            td Мощностью 5 лошадиных сил для прогулочных лодок
            td H27
            td 23 000 руб
        tr
            td Слава греции
            td Валери  Лоренц
            td
                | Многие детали производились <br/>
                | в его же собственном литейном цехе
            td H27
            td 23 000 руб
