table.float-left(style="width: 713px")
    thead
        tr
            th Двигатель
            th Вариант исполнения
            th Краткое описание
            th Код
            th Цена

    tbody
        tr
            td После гражданской войны
            td Доктор Джон Ругон
            td Система смазки была общая для двигателя и коробки передач
            td H27
            td 23 000 руб
        tr
            td
                | Англы и саксы <br/>
                | Вводный курс
            td Марк Котл
            td Мощностью 5 лошадиных сил для прогулочных лодок
            td H27
            td 23 000 руб
        tr
            td Слава греции
            td Валери  Лоренц
            td Многие детали производились в его же собственном литейном цехе
            td H27
            td 23 000 руб
