@import "../../vars"
@import "../../mixins"

.container-button
  position: relative

.button
  display: block
  color: $color-white
  border-radius: 3px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03)
  font-weight: 500
  font-size: 15px / normal
  position: relative
  z-index: 2
  padding: 18px 15px

  &:hover
    color: $color-white

  &-blue, &-orange
    position: relative
    z-index: 9
    display: inline-block

  &-blue
    background: $gradient-blue

    &:hover
      .button-helper-gradient-blue
        opacity: 1

  &-orange
    background: $gradient-orange

    &:hover
      .button-helper-gradient-orange
        opacity: 1

  &-helper-gradient-blue
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0

  &-helper-gradient-blue
    background: $gradient-orange

  &-helper-gradient-orange
    background: $gradient-blue

.buttonDisabled
  display: none


//.button-blue, .button-orange
//  position: relative
//  z-index: 9
//  display: inline-block

//.button-blue
  background: $gradient-blue

  &:hover
    .button-helper-blue
      opacity: 1





//.button-orange
  background: $gradient-orange






//.button-blue
//  background: $gradient-blue
//  z-index: 9
//
//  &:hover
//    .button-helper
//      opacity: 1
//
//  //&:hover
//    background: $gradient-orange
//
//  &:disabled
//    color: $color-black
//    border: 2px solid #9DACC3
//    background: $color-white

//.button-orange
//  background: $gradient-orange
//
//  &:hover
//    background: $gradient-blue
//
//  &:disabled
//    color: $color-black
//    border: 2px solid #9DACC3
//    background: $color-white
