@import "../../vars"
@import "../../mixins"

.container-button
  position: relative !important

.button
  display: block
  color: $color-white
  border-radius: 3px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03)
  font-weight: 500
  font-size: 15px / normal
  position: relative
  z-index: 2
  padding: 18px 15px

  cursor: pointer

  &:hover
    color: $color-white

  &-blue, &-orange
    position: relative
    z-index: 9
    display: inline-block

  &-blue
    background: $gradient-blue

    &:hover
      .button-helper-gradient-blue
        opacity: 1

  &-orange
    background: $gradient-orange

    &:hover
      .button-helper-gradient-orange
        opacity: 1

  &-helper-gradient-blue, &-helper-gradient-orange
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    border-radius: 3px

  &-helper-gradient-blue
    background: $gradient-orange

  &-helper-gradient-orange
    background: $gradient-blue

.buttonDisabled
  display: none
