include ../../mixins/svg_sprite

section.credits
    .container.credits__container
        .nzgu © NGZU, 2018
        a(href="#").rusodot Дизайн и разработка сайта —
            +add_svg({class: "credits__ruso", icon: "ruso"})
