include ../../mixins/svg_sprite

.container.footer__container
    .nav-links.about-company
        h4 О компании

        ul
            li
                a(href="#") О нас
            li
                a(href="#") История компании
            li
                a(href="#") Наш завод
            li
                a(href="#") Пресс-центр
            li
                a(href="#") Последние новости
            li
                a(href="#") Выполненные проекты
            li
                a(href="#") Дилерская сеть
