include ../../../pug/mixins/industry-item

section.industry-section
    .industry
        each _ in Array(4*3)
            +add_industry-item(
            "img/industry.jpg",
            "ДГУ в контейнере «СЕВЕР» для Илимского ЦБК",
            "375 кВт"
            )


    .industry-nav
        nav.nav-pages
            a(href="#").nav-pages-button.nav-pages-button--start.disabled В начало

            ul
                li.nav-pages-button-arrow.nav-pages-button--prev
                    a(href="#")
                        +add_svg({class: "nav-pages-button__icon", icon: "nav-arrow"})

                li.active
                    a(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") 5
                li
                    a(href="#") 6

                li.nav-pages-button-arrow.nav-pages-button--next
                    a(href="#")
                        +add_svg({class: "nav-pages-button__icon", icon: "nav-arrow"})

            a(href="#").nav-pages-button.nav-pages-button--end В конец



