extends ./pug/base_template
include ./pug/mixins/breadcrumbs

block title
    title Rusodot NZGU Contacts

block content
    .container
        .content-card
            .content-heading
                +add_breadcrumbs([
                    {text: "Каталог продукции"},
                    {text: "Контакты"}
                ])

                h2 Контакты

            .content-description.content-description-contacts
                include ./pug/components/contacts/nav-dealers

                .contacts-page-callback
                    include ./pug/components/contacts/callback-contacts
                .contacts-callback-container
                    include ./pug/components/contacts/contacts-callback-form-container
                    include ./pug/components/contacts/contacts-callback-form-container-success

                .contacts-info
                    include ./pug/components/contacts/contacts-info-sellers

                include ./pug/components/contacts/our-staff

                //include ./pug/components/contacts/maps





