extends ./pug/base_template
include ./pug/mixins/typography

block title
	title Starter Template

	//url(img/header-slider-bg.jpg

block content
	include ./pug/components/home/content_head
	include ./pug/components/home/generator





