extends ./pug/base_template
include ./pug/mixins/typography

block title
	title Starter Template

block content
	.container
		section.slider-container
			.slider-navigation-container
				.home-page-gallery-navigation-wrapper.container
					.home-page-gallery-close-button Скрыть
					.home-page-gallery-navigation
						.gallery-nav-button.gallery-nav-button--prev
							+add_svg({class: "gallery-nav-button__icon", icon: "gallery-nav-arrow"})

						ul.gallery-nav-items
							li Акции и скидки
							li.active О нас
							li Оптовые заказы

						.gallery-nav-button.gallery-nav-button--next
							+add_svg({class: "gallery-nav-button__icon", icon: "gallery-nav-arrow"})
