extends ./pug/base_template
include ./pug/mixins/breadcrumbs

block title
    title Rusodot NZGU News

block content
    .container
        .content-card
            .content-heading
                +add_breadcrumbs([
                    {text: "Каталог продукции"},
                    {text: "Новости"},
                    {text: "Новость"}
                ])

                h2 История компании Badouin

            .content-description
                article
                    img(src="img/photo-right.jpg").float-right

                    h2 О компании

                    p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре #[a(href="#") решил производить] небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.

                    p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

                    ul
                        li Система смазки и двигателя очень простая
                        li Коробка передач
                        li Мощностью 5 лошадиных сил

                    ol
                        li Система смазки и двигателя очень простая
                        li Коробка передач
                        li Мощностью 5 лошадиных сил

                    p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре #[a(href="#") решил производить] небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.

                    p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

                    img(src="img/photo.jpg")

                    p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре #[a(href="#") решил производить] небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.

                    p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

                    figure
                        blockquote
                            em Технология производства была очень простой, многие детали производились
                            | в его же собственном литейном цехе (например, шатун был бронзовый и без
                            | вкладышей). Система смазки была общая для двигателя и коробки передач.
                            | Технология производства была очень простой, многие детали…
                        figcaption
                            em - Рузвельт Цезарь II

                    p Но история компании началась намного раньше, в 1902 году, когда Чарльз Бодуэн открыл вблизи Марселя цех по выплавке цветного металла. В таком замечательном месте как Марсель с его морскими традициями Чарльз вскоре #[a(href="#") решил производить] небольшие бензиновые двигатели, объединённые в одном корпусе с коробкой передач, мощностью 5 лошадиных сил для прогулочных лодок.

                    p Технология производства была очень простой, многие детали производились в его же собственном литейном цехе (например, шатун был бронзовый и без вкладышей). Система смазки была общая для двигателя и коробки передач.

                    h2 Сравнение дизельных генераторов

                    include ./pug/components/news/tables















