extends ./pug/base_template
include ./pug/mixins/breadcrumbs

block title
    title Starter Template

block content
    .container
        .content-card
            .content-heading
                +add_breadcrumbs([
                    {text: "Каталог продукции"},
                    {text: "Выполненные проекты"}
                ])
                h2 Выполненные проекты

            .content-description
                p Самая большая по территории страна мира - Россия, её площадь на 2018 год (после присоединения Крыма) составляет 17 124 442 км. Россия находится одновременно в Европе и в Азии. Площадь европейской части России около 3,986 млн. км, что гораздо больше, чем площадь любой европейской страны. Европейская часть России составляет около 40% территории всей Европы.
                #map(
                data-map-center-lng="56.008420"
                data-map-center-lat="40.493787"
                data-map-zoom="7.275115259342524"
                )

                include pug/components/projects/our-projects

                .content-description-meta-common-blocks
                    h2.text-align-center Категории



                include pug/components/features/features
