extends ./pug/base_template
include ./pug/mixins/breadcrumbs
include ./pug/mixins/industry-item

block title
    title Rusodot NZGU Projects-Catalog

block content
    .container
        .content-card
            .content-heading
                +add_breadcrumbs([
                    {text: "Каталог продукции"},
                    {text: "Выполненные проекты"},
                    {text: "Промышленность"}
                ])
                h2 Промышленность


        include pug/components/projects-catalog/industry

        .content-card
            include ./pug/components/projects-catalog/features


