.dealers-tip
  display: flex
  align-items: center
  padding-left: 27px
  position: relative
  top: -2px


  span

    i
      &:before
        content: ""
        display: inline-block
        width: 7px
        height: 7px
        position: relative
        top: -1px
        margin-right: 3px
        background: #FF8324
        border-radius: 100%
