@import "../../../vars"

.home-page-gallery
  &-container
    //width: 100%
    width: 1920px
    height: 609px

    padding: 65px 0 74px 0

    background: $color-black url("/img/header-slider-bg.jpg") no-repeat center
    //background-size: 1920px 609px
    background-size: cover

    margin-left: -320px
