@import "../../../vars"

.home-page-gallery

  &-container
    width: 1920px
    height: 609px

    padding: 65px 0 74px 0

    background: url("/img/header-slider-bg.jpg")

    margin-left: -320px

  &__item-circle-blue
    content: ""

    width: 721px
    height: 721px
    border-radius: 100%

    background: linear-gradient(259.83deg, #008AFF 12.83%, #15B2FF 91.3%)

    position: absolute
    top: -45px
    left: -178px

  &__item-circle-white
    content: ""

    width: 597px
    height: 597px
    border-radius: 100%

    background: $color-white
    opacity: 0.9

    position: absolute
    top: 100px
    left: 150px


