@import "../../vars"
@import "../../mixins"

.contact-phone
  font-size: 15px
  font-weight: 500
  color: $color-white
  text-decoration: none
  margin-left: 15px
  margin-right: 50px
  transition: $transition-duration
  &:hover
    color: darken($color-white, 5%)
