include ../../mixins/svg_sprite
include ../../mixins/features-item

.category-container
    +features-item("factory",
        "Промышленность",
        "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц дизельных электростанция во всех регионах нашей страны."
        )
