include ../../mixins/svg_sprite
include ../../mixins/features-item

.features
    +features-item("factory",
    "Промышленность",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц дизельных электростанция во всех регионах нашей страны."
    )

    +features-item("shipyard",
    "Нефть, газ, уголь",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц дизельных электростанция во всех регионах нашей страны."
    )

    +features-item("crane",
    "Строительство",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более"
    )

    +features-item("house",
    "Частный сектор",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц."
    )

    +features-item("engine",
    "Резервные ДГУ",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц дизельных электростанция во всех."
    )

    +features-item("bus",
    "Мобильные ДГУ",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано мало."
    )

    +features-item("factory",
    "МЧС, ЖКХ, школы и больницы",
    "Раздел постоянно пополняется новыми проектами. В настоящее время реализовано более 2 000 единиц дизельных."
    )

    +features-item("truck",
    "Сельское хозяйство",
    "Раздел постоянно пополняется новыми проектами около сотни новых работ."
    )
